<!DOCTYPE html>
<html>
<head>
<title>ONLINE JOY</title>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}"/> 
</head>
<body>
<h1>READ NOVEL</h1>
<center>
<p>There is a qoute that says " Reading is to the mind what exercise is to the body !! "
Reading books has so many advantages. It helps you to build up your vocabulary, language skills, creativity levels, imagination levels etc.. Reading books makes you understand the world in a different perspective!
Novels are one the among the books that serve as stress busters and play an important role in freshening your mind..
In our website we have access to e-books as well as audio books.
Reading a e-book and listening to a audio book are two different ways leading to a same destination that is gaining knowledge!!!!
Here the e-books are easily accessible, don't eat much of your data, have a very good content and don't require much space to be stored on your phones or computer! Similarly the audio books has outstanding audio that gives peace of mind. It also develops your listening skills and concentration power. By listening to them you can develop and improve you pronunciation and fluency of the language. </p><br><br>
<h1>Links to ebooks</h1>
	<a href="/Link1">
<button><a href="/Link1">click here</a></button>

    <h1>Links to audio books</h1>
    
 <button><a href="/Link2">click here</a></button>

</center>
</body>
</html>
