<!DOCTYPE html>
<html>
<head>
<title>ONLINE JOY</title>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}"/> 
</head>
<body>
<h1>KID ZONE</h1>
<center>

<p>Kid's zone is for the betterment and over all development of kids containing different types of exciting activities and games.
Colouring games for kids enhances their creativity level, helps in easy recognition of various kinds of colors. It also plays a role in maintenance of high concentration and focus level!!
Various other types of games are also available for kids. It is a source of entertainment to them!! Parents having hectic schedules can ask their kids to play these games and spend their time fruitfully.</p>
<button type="button"class="button1"><a href="/games">Let's play Color Game</a></button><br>

</center>
</body>
</html>