<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}"/> 
</head>

<body>
<h1>
<u>LIST OF EBOOK WEBSITES </u>

<a href="https://www.free-ebooks.net/religious/Autumn-Leaves-Volume-1" >
	Link to ebooks1
</a><br>



<a href="https://www.free-ebooks.net/book-lists">
Link to ebooks2
</a><br>



<a href="http://www.readprint.com/books-7/Essays">
	Link to ebooks3
</a><br>



	<a href="http://www.readprint.com/books-9/Short-Stories">
		Link to ebooks4
	</a><br>



	<a href="http://www.readprint.com/books-6/Plays">
		Link to ebooks5
	</a><br>



	<a href="http://www.readprint.com/books-2/Fiction">
		Link to ebooks6
	</a><br>



	<a href="http://www.readprint.com/books-8/Poetry">
		Link to ebooks7
	</a><br>



	<a href="http://www.readprint.com/books-1/Non-Fiction">
		Link to ebooks8
	</a><br>




	<a href="http://www.ebookdirectory.com/">
		Link to ebooks9
</a><br>

</h1>
</body>
</html>
