<!DOCTYPE html>
<html>
<head>
<title>ONLINE JOY</title>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}"/> 
</head>
<body>
<h1>PLAY GAMES</h1>

<center>
<p>Physical playing of games is very much necessary for healthy mind and body. However it's difficult to imagine playing outside during these tough pandemic times. Hence playing online games has become a kind of recreation. Take breaks from your hectic schedules and relax yourself by playing games. Playing games gives relaxation to your mind. However some types of games also play a important role in improving the analytical skills and observation skills of the player. It also increases thinking power and alertness of the mind. Playing online games is a way of enjoying life during these pandemic days.
Memory boosting games like puzzles, obviously will enhance the memory power as well as processing speed of the brain.</p>
<button type="button"class="button1"><a href="/hangman">Hangman</a></button><br>
<button type="button"class="button2"><a href="jumble">Jumbled words</a></button><br>
<button type="button"class="button3">Guess the number<a href=""></a></button><br>
<button type="button"class="button3">Sudoku<a href=""></a></button><br>
</center>
</body>
</html>